<h2> Data preparation </h2>

Cilj je u ovoj bilježnici transformirati dataset jednako kao skup za učenje. 
Na kraju ćemo napraviti merge s makroekonomskim indikatorima na oba skupa. Output ove datoteke su datoteke spremne za treniranje modela (enkodirane i normalizirane).

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
mydateparser = lambda c: pd.to_datetime(c, format='%d.%m.%Y', errors='coerce')
test = pd.read_excel('eval_dataset_nan.xlsx')#parse_dates=['DATUM_OTVARANJA', 'PLANIRANI_DATUM_ZATVARANJA'], date_parser=mydateparser
test['DATUM_OTVARANJA'] = pd.to_datetime(test['DATUM_OTVARANJA'], format='%d.%m.%Y')

In [3]:
test.to_hdf('test_dataset.h5', key = 'test')

In [4]:
### ako je datoteka 'test_dataset.h5' sadržana u direktoriju, ovako čitati
test = pd.read_hdf('test_dataset.h5', key = 'test')

In [5]:
test.head()

,instance_id,KLIJENT_ID,OZNAKA_PARTIJE,DATUM_OTVARANJA,PLANIRANI_DATUM_ZATVARANJA,UGOVORENI_IZNOS,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID
0,0,1049000,5585453,2012-07-14,2013-07-15,273555.01,2,1410,TM0109,L,3.60,A,64,NaN
1,1,481302,752335,2016-01-24,2016-01-24,50970.78,2,1410,TM0109,L,0.20,A,56,NaN
2,2,838192,6623548,2018-12-26,2018-12-26,8969.36,2,1410,TM0109,L,0.02,A,52,NaN
3,3,174575,425060,2012-08-04,2012-08-04,16142.48,2,1410,TM0109,L,2.30,C,76,NaN
4,4,14884,1183149,2011-03-27,2012-03-28,45315.31,2,1410,TM0109,L,3.30,C,53,NaN

<h4> Istraživanje testnog skupa </h4>

In [6]:
test_nelogicni = test[test['DATUM_OTVARANJA']>= test['PLANIRANI_DATUM_ZATVARANJA']]

In [7]:
test_nelogicni  ## da li da onda pustimo takve instance u training setu? da zasad

,instance_id,KLIJENT_ID,OZNAKA_PARTIJE,DATUM_OTVARANJA,PLANIRANI_DATUM_ZATVARANJA,UGOVORENI_IZNOS,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID
1,1,481302,752335,2016-01-24,2016-01-24,50970.78,2,1410,TM0109,L,0.20,A,56,NaN
2,2,838192,6623548,2018-12-26,2018-12-26,8969.36,2,1410,TM0109,L,0.02,A,52,NaN
3,3,174575,425060,2012-08-04,2012-08-04,16142.48,2,1410,TM0109,L,2.30,C,76,NaN
9,9,888283,9088014,2018-11-23,2018-11-23,54123.73,1,1410,TM0109,L,0.20,A,38,NaN
14,14,385859,1211979,2018-12-05,2018-12-05,25506.30,2,1410,TM0109,L,0.02,A,61,NaN
15,15,112284,11405495,2016-04-19,2016-04-19,53692.27,2,1410,TM0109,L,0.10,A,73,NaN
21,21,496265,10039665,2018-12-15,2018-10-13,10223.43,1,1410,TM0109,L,0.05,A,56,NaN
29,29,1221746,5995009,2013-04-21,2013-04-21,30000.00,1,1410,TM0109,L,2.70,A,85,NaN
35,35,358636,11391432,2018-07-03,2018-07-03,76833.44,2,1410,TM0109,L,0.02,A,55,NaN
38,38,459038,11278595,2018-10-22,2018-10-22,77972.99,2,1410,TM0109,L,0.05,A,65,NaN
44,44,127822,3533718,2018-10-13,2018-10-13,92290.03,2,1410,TM0109,L,0.05,A,65,NaN
50,50,886435,7350454,2015-01-06,2015-01-06,80072.32,2,1410,TM0109,L,1.90,A,52,NaN
52,52,1405853,10272983,2018-12-06,2018-10-04,10165.40,1,1410,TM0109,L,0.05,A,46,NaN
54,54,529439,574600,2018-10-01,2018-10-01,23452.52,3,1410,TM0109,L,0.10,A,67,NaN
55,55,559986,7527216,2017-04-02,2017-04-02,429468.20,1,1610,TM0109,L,0.65,A,38,NaN
56,56,229048,8328659,2013-11-02,2013-10-01,388445.22,1,1410,TM0109,L,2.10,A,64,NaN
62,62,456049,7223022,2017-10-03,2017-10-03,11692.65,3,1410,TM0109,L,0.15,A,40,NaN
63,63,966181,11277843,2017-10-23,2017-10-23,39511.67,2,1410,TM0109,L,0.05,A,56,NaN
64,64,206899,910385,2018-10-07,2018-10-07,9789.77,2,1410,TM0109,L,0.02,A,54,NaN
70,70,332113,9011571,2016-01-24,2016-01-24,44717.46,2,1410,TM0109,L,0.20,A,59,NaN
72,72,165509,7294034,2018-11-21,2018-11-21,74416.67,2,1410,TM0109,L,0.05,A,69,NaN
73,73,747498,7792257,2018-12-20,2018-12-20,65326.23,1,1550,TM0109,L,0.10,A,44,NaN
74,74,576149,12155515,2018-07-21,2018-07-21,15074.57,2,1410,TM0109,L,0.05,A,68,NaN
76,76,362737,5697821,2018-11-02,2018-11-02,112440.69,2,1410,TM0109,L,0.05,A,76,NaN
78,78,960415,4378297,2018-06-13,2018-06-13,48556.72,5,1410,TM0109,L,0.20,A,85,NaN
84,84,223419,11331287,2018-12-07,2018-12-07,413629.55,2,1550,TM0109,L,0.05,A,63,NaN
86,86,800550,8323970,2014-04-08,2014-04-08,143537.24,2,1410,TM0109,L,1.60,A,43,NaN
91,91,331225,11372777,2018-06-19,2018-06-19,12378.54,2,1410,TM0109,L,0.02,A,65,NaN
97,97,627153,11284982,2016-10-22,2016-10-22,67591.75,2,1410,TM0109,L,0.15,A,65,NaN
103,103,37522,599544,2018-07-17,2018-07-17,53415.76,2,1510,TM0109,L,0.02,A,64,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82190,82190,594884,12366998,2018-12-03,2018-12-03,15209.19,2,1550,FD0100,L,0.10,A,42,NaN
82201,82201,350226,1114547,2017-12-18,2017-12-18,7555.22,2,1410,FD0100,L,0.10,A,46,NaN
82202,82202,321665,679227,2016-04-07,2016-04-07,60559.84,2,1410,FD0100,L,0.65,A,49,NaN
82215,82215,349303,1177968,2017-12-17,2017-12-17,21093.21,2,1410,FD0100,L,0.10,A,44,NaN
82217,82217,625548,6532274,2013-11-30,2013-11-30,110864.47,2,1410,FD0100,L,2.00,C,44,NaN
82225,82225,311923,752049,2016-01-03,2016-01-03,24067.05,2,1410,FD0100,L,0.75,A,60,NaN
82243,82243,1246404,5016851,2014-03-12,2014-03-12,16401.10,2,1410,FD0100,L,2.40,A,33,NaN
82245,82245,384489,1080048,2018-02-25,2018-02-25,12073.94,2,1410,FD0100,L,0.10,A,51,NaN
82250,82250,1339395,7526396,2017-04-04,2017-04-04,8275.56,3,1410,FD0100,L,0.60,A,33,NaN
82257,82257,300820,1113581,2015-08-25,2015-08-25,4091.87,2,1550,FD0100,L,1.20,A,47,NaN
82260,82260,1246404,5016851,2016-03-13,2016-03-13,17142.09,2,1410,FD0100,L,0.75,A,35,NaN
82264,82264,773491,552437,2017-06-23,2017-06-23,9697.97,2,1410,FD0100,L,0.30,A,37,NaN
82275,82275,1321990,8959178,2017-09-28,2017-09-28,24501.83,2,1410,FD0100,L,0.25,A,36,NaN
82276,82276,4450,625133,2016-01-26,2016-01-26,36478.61,2,1410,FD0100,L,0.75,A,63,NaN
82286,82286,207625,4778202,2017-11-24,2017-11-24,22165.09,2,1410,FD0100,L,0.25,A,56,NaN
82296,82296,652067,551810,2015-01-18,2015-01-18,9536.69,2,1410,FD0100,L,1.85,A,35,NaN
82301,82301,349833,624283,2017-12-18,2017-12-18,15110.52,2,1550,FD0100,L,0.10,A,46,NaN
82313,82313,1321990,8959178,2015-09-27,2015-09-27,24003.68,2,1410,FD0100,L,1.20,A,34,NaN
82338,82338,196498,1113674,2015-09-13,2015-09-13,8127.12,2,1410,FD0100,L,1.20,A,55,NaN
82341,82341,1246404,5016851,2018-03-14,2018-03-14,17369.20,2,1410,FD0100,L,0.10,A,37,NaN
82348,82348,297610,1113532,2015-08-12,2015-08-12,7382.34,2,1410,FD0100,L,1.20,A,71,NaN
82356,82356,608710,4833565,2012-01-31,2012-01-31,63357.16,3,1550,FD0100,L,2.00,C,58,NaN
82394,82394,1390,7597889,2013-04-24,2013-04-24,9496977.50,2,1110,FL0202,A,0.00,B,23,NaN
82687,82687,410709,6022214,2011-05-02,2011-05-02,4015769.61,1,1120,FL1500,A,4.00,A,21,NaN
83254,83254,1095742,7530734,2013-04-03,2013-04-03,114000.00,1,1430,FL1400,A,2.00,C,6,NaN
83257,83257,233185,11465706,2016-03-03,2016-03-03,4500000.00,1,1120,FL1400,A,3.00,A,24,NaN
83259,83259,7689,7599765,2015-04-23,2015-04-23,1200000.00,1,1420,FL1400,A,4.00,A,18,NaN
83308,83308,1401291,12801384,2018-01-12,2018-01-12,450000.00,1,1430,FL1400,A,NaN,A,5,NaN
83350,83350,16714,6085627,2011-06-01,2011-06-01,82566320.00,3,1110,FL1400,A,0.00,B,16,NaN
83394,83394,533094,10210390,2015-02-03,2015-02-03,736497.63,2,1420,FL1400,A,0.00,B,12,NaN

In [8]:
test_iznos_nula =  test[test['UGOVORENI_IZNOS'] == 0]

In [9]:
test_iznos_nula.shape # ne brisati takve! pitanje

(42, 14)

In [10]:
## ima li produljenih ugovora? 
test_duplicates = test.drop_duplicates(subset = ['KLIJENT_ID', 'OZNAKA_PARTIJE'])
print(test.shape)
print(test_duplicates.shape)

# mozda da uvedem broj instanci, tj. stupac s brojem produljenja

(84903, 14)
(81559, 14)

<h3> Transformacije </h3>

In [11]:
grouped = test.groupby(['KLIJENT_ID', 'OZNAKA_PARTIJE'])
test['PRODULJENJA'] = grouped['KLIJENT_ID'].transform('size') # svejedno po kojoj instanci gledam

In [12]:
test['GODINA_OTVARANJA'] = test['DATUM_OTVARANJA'].dt.year
test['PLANIRANA_DULJINA_KREDITA'] = (test['PLANIRANI_DATUM_ZATVARANJA']-test['DATUM_OTVARANJA']).dt.days
# hocemo podatak o kvartalu?

In [13]:
test.groupby(['PRODULJENJA']).size()

PRODULJENJA
1    79103
2     3664
3     1293
4      548
5      210
6       78
7        7
dtype: int64

In [14]:
pro = test[test['PRODULJENJA']>1]

In [15]:
pro.sort_values(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA'])

,instance_id,KLIJENT_ID,OZNAKA_PARTIJE,DATUM_OTVARANJA,PLANIRANI_DATUM_ZATVARANJA,UGOVORENI_IZNOS,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID,PRODULJENJA,GODINA_OTVARANJA,PLANIRANA_DULJINA_KREDITA
53668,53668,1144,5282146,2010-04-21,2025-04-30,2.901773e+05,2,1610,FL1304,A,7.25,C,52,NaN,2,2010,5488
82793,82793,1144,5282146,2014-02-27,2025-04-30,2.901773e+05,2,1410,FL1306,A,6.30,B,57,NaN,2,2014,4080
82391,82391,1215,344719,2007-11-22,2014-03-31,5.421490e+08,2,1210,FL0202,A,0.00,B,11,NaN,2,2007,2321
82413,82413,1215,344719,2013-06-28,2016-06-30,5.421490e+08,2,1350,FL0202,A,0.00,B,17,NaN,2,2013,1098
19079,19079,1283,1033292,2007-10-15,2011-10-16,1.123846e+05,3,1410,TM0109,L,3.30,C,62,NaN,2,2007,1462
19569,19569,1283,1033292,2011-10-16,2013-10-17,1.123846e+05,3,1410,TM0109,L,2.90,C,63,NaN,2,2011,732
81382,81382,1373,6371157,2011-06-24,2013-06-25,1.478262e+04,2,1410,FD0100,L,2.80,C,69,NaN,4,2011,732
82080,82080,1373,6371157,2013-06-25,2015-06-26,1.571577e+04,2,1410,FD0100,L,2.55,C,70,NaN,4,2013,731
80761,80761,1373,6371157,2015-06-26,2015-06-26,1.650028e+04,2,1410,FD0100,L,1.50,A,72,NaN,4,2015,0
81079,81079,1373,6371157,2017-06-27,2017-06-27,1.692905e+04,2,1410,FD0100,L,0.30,A,74,NaN,4,2017,0
7738,7738,1380,8960238,2016-04-07,2016-04-07,6.330210e+03,1,1610,TM0109,L,1.05,A,53,NaN,4,2016,0
24355,24355,1380,8960238,2016-10-09,2016-10-09,6.355550e+03,1,1610,TM0109,L,0.70,A,54,NaN,4,2016,0
12062,12062,1380,8960238,2018-04-15,2018-04-15,6.384480e+03,1,1610,TM0109,L,0.15,A,55,NaN,4,2018,0
14938,14938,1380,8960238,2018-10-17,2018-10-17,6.388650e+03,1,1610,TM0109,L,0.10,A,56,NaN,4,2018,0
3275,3275,1387,6549788,2012-10-20,2012-10-20,2.413460e+05,2,1410,TM0109,L,3.60,A,64,NaN,2,2012,0
24977,24977,1387,6549788,2018-10-26,2018-10-26,2.644129e+05,2,1550,TM0109,L,0.05,A,70,NaN,2,2018,0
6826,6826,1536,4365221,2009-04-27,2011-05-01,4.285331e+04,5,1550,TM0109,L,4.40,C,72,NaN,2,2009,734
23459,23459,1536,4365221,2013-05-05,2013-05-05,4.731191e+04,5,1550,TM0109,L,2.25,C,75,NaN,2,2013,0
4207,4207,1617,10788441,2017-07-02,2017-07-02,4.548396e+05,2,1550,TM0109,L,0.20,A,85,NaN,2,2017,0
23976,23976,1617,10788441,2018-07-03,2018-07-03,4.548396e+05,2,1550,TM0109,L,0.05,A,86,NaN,2,2018,0
3311,3311,1696,5578917,2011-07-23,2012-07-24,1.506752e+05,2,1550,TM0109,L,3.30,A,55,NaN,2,2011,367
14210,14210,1696,5578917,2017-07-29,2017-07-29,1.718628e+05,2,1510,TM0109,L,0.20,A,60,NaN,2,2017,0
2192,2192,1934,10259235,2017-04-02,2017-04-02,7.730022e+04,2,1410,TM0109,L,0.10,A,82,NaN,4,2017,0
13793,13793,1934,10259235,2017-10-03,2017-10-03,7.733370e+04,2,1410,TM0109,L,0.05,A,82,NaN,4,2017,0
19743,19743,1934,10259235,2018-04-04,2018-04-04,7.735044e+04,2,1410,TM0109,L,0.02,A,83,NaN,4,2018,0
19070,19070,1934,10259235,2018-10-05,2018-10-05,7.735717e+04,2,1410,TM0109,L,0.02,A,83,NaN,4,2018,0
11377,11377,2166,269855,2000-02-22,2011-01-27,1.540360e+03,3,1410,TM0109,L,2.10,C,30,NaN,2,2000,3992
4609,4609,2166,269855,2012-01-29,2012-01-29,1.570500e+03,3,1410,TM0109,L,1.90,C,31,NaN,2,2012,0
8188,8188,2221,910443,2005-10-17,2011-10-22,1.292859e+05,2,1410,TM0109,L,3.70,C,70,NaN,3,2005,2196
6491,6491,2221,910443,2017-10-28,2017-10-28,1.510850e+05,2,1410,TM0109,L,0.15,A,77,NaN,3,2017,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20975,20975,1505737,11391197,2017-04-12,2017-04-12,2.728891e+05,1,1410,TM0109,L,0.40,A,34,NaN,5,2017,0
17256,17256,1505737,11391197,2018-04-16,2018-04-16,2.734812e+05,1,1410,TM0109,L,0.15,A,35,NaN,5,2018,0
24818,24818,1505737,11391197,2018-07-17,2018-07-17,2.735700e+05,1,1410,TM0109,L,0.15,A,35,NaN,5,2018,0
12802,12802,1505737,11391197,2018-10-18,2018-10-18,3.105597e+05,1,1410,TM0109,L,0.10,A,36,NaN,5,2018,0
44851,44851,1511923,12914728,2018-04-07,2020-04-30,2.600000e+04,1,1610,FL0801,A,6.75,A,27,NaN,2,2018,754
59580,59580,1511923,12914728,2018-04-07,2020-04-30,2.600000e+04,1,1610,FL0803,A,6.75,A,27,NaN,2,2018,754
82127,82127,1514110,11122646,2015-06-23,2018-06-24,7.578275e+04,2,1410,FD0100,L,1.60,A,40,NaN,2,2015,1097
81186,81186,1514110,11122646,2018-06-24,2018-06-24,7.903827e+04,2,1410,FD0100,L,0.10,A,43,NaN,2,2018,0
11427,11427,1516735,11142646,2018-01-08,2018-01-08,7.653041e+04,2,1410,TM0109,L,0.02,A,60,NaN,2,2018,0
5566,5566,1516735,11142646,2018-07-09,2018-07-09,7.653693e+04,2,1410,TM0109,L,0.02,A,60,NaN,2,2018,0
17863,17863,1527349,11265280,2016-10-10,2016-10-02,8.039352e+04,1,1410,TM0109,L,1.50,A,32,NaN,2,2016,-8
5195,5195,1527349,11265280,2018-10-04,2018-10-04,9.933210e+04,1,1410,TM0109,L,1.10,A,34,NaN,2,2018,0
24559,24559,1529048,11277961,2016-10-16,2016-10-16,6.887697e+04,3,1410,TM0109,L,0.60,A,81,NaN,2,2016,0
17740,17740,1529048,11277961,2018-10-18,2018-10-18,6.938579e+04,3,1410,TM0109,L,0.25,A,83,NaN,2,2018,0
10455,10455,1529213,12713981,2018-04-13,2018-04-13,2.099372e+04,2,1410,TM0109,L,0.02,A,49,NaN,2,2018,0
14832,14832,1529213,12713981,2018-10-15,2018-10-15,2.099567e+04,2,1410,TM0109,L,0.02,A,49,NaN,2,2018,0
80327,80327,1534865,11359643,2015-11-30,2017-12-01,1.525356e+04,2,1410,FD0100,L,0.75,A,54,NaN,2,2015,732
81554,81554,1534865,11359643,2017-12-01,2017-12-01,1.545201e+04,2,1410,FD0100,L,0.25,A,56,NaN,2,2017,0
18100,18100,1549222,12261193,2017-10-20,2017-10-15,3.830630e+04,2,1410,TM0109,L,0.15,A,21,NaN,2,2017,-5
385,385,1549222,12261193,2018-10-16,2018-10-16,8.560474e+04,2,1550,TM0109,L,0.15,A,22,NaN,2,2018,0
56808,56808,1556116,12158205,2016-07-21,2046-07-31,4.782277e+05,2,1410,FL1301,A,4.55,B,29,NaN,2,2016,10967
57296,57296,1556116,12158205,2018-01-30,2046-07-31,4.782277e+05,2,1410,FL1301,A,4.55,B,31,NaN,2,2018,10409
11449,11449,1574816,12511138,2018-05-09,2018-05-09,2.046278e+05,3,1410,TM0109,L,0.10,A,90,NaN,2,2018,0
15471,15471,1574816,12511138,2018-11-11,2018-11-11,2.047183e+05,3,1410,TM0109,L,0.10,A,91,NaN,2,2018,0
339,339,1806600,12750049,2018-05-09,2018-05-09,2.259976e+05,2,1550,TM0109,L,0.02,A,54,NaN,2,2018,0
1873,1873,1806600,12750049,2018-11-10,2018-11-10,2.260175e+05,2,1550,TM0109,L,0.02,A,54,NaN,2,2018,0
2686,2686,1814256,12748862,2017-11-29,2018-05-30,9.540000e+03,3,1410,TM0109,L,0.15,A,58,NaN,2,2017,182
14133,14133,1814256,12748862,2018-12-01,2018-12-01,9.552400e+03,3,1410,TM0109,L,0.15,A,59,NaN,2,2018,0
2901,2901,1815173,12749373,2018-02-04,2018-12-07,2.600000e+04,1,1410,TM0109,L,1.10,A,63,NaN,2,2018,306
12372,12372,1815173,12749373,2018-12-07,2018-12-07,2.611794e+04,1,1410,TM0109,L,0.40,A,63,NaN,2,2018,0

In [16]:
del_col_list = ['instance_id', 'DATUM_OTVARANJA', 'PLANIRANI_DATUM_ZATVARANJA', 'OZNAKA_PARTIJE']
test.drop(del_col_list, axis = 1, inplace = True)

In [17]:
test.columns

Index(['KLIJENT_ID', 'UGOVORENI_IZNOS', 'VALUTA', 'VRSTA_KLIJENTA', 'PROIZVOD',
       'VRSTA_PROIZVODA', 'VISINA_KAMATE', 'TIP_KAMATE', 'STAROST',
       'PRIJEVREMENI_RASKID', 'PRODULJENJA', 'GODINA_OTVARANJA',
       'PLANIRANA_DULJINA_KREDITA'],
      dtype='object')

In [18]:
test.shape

(84903, 13)

In [19]:
test.to_hdf('test_nakon_transformacija.h5', key = 'test')

<h3> Učitavanje skupa za učenje </h3>

In [20]:
train = pd.read_hdf('train_dataset.h5', key ='df')

In [21]:
train.columns

Index(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'UGOVORENI_IZNOS', 'VALUTA',
       'VRSTA_KLIJENTA', 'PROIZVOD', 'VRSTA_PROIZVODA', 'VISINA_KAMATE',
       'TIP_KAMATE', 'STAROST', 'PRIJEVREMENI_RASKID', 'GODINA_OTVARANJA',
       'PLANIRANA_DULJINA_KREDITA', 'PRODULJENJA'],
      dtype='object')

In [22]:
del train['OZNAKA_PARTIJE']

<h3> Makroekonomski indikatori </h3>

In [23]:
# Čitam tablicu ekonomskih indikatora
# econ = pd.read_excel('./data/external/ekonomski_indikatori.xlsx')
econ = pd.read_excel('ekonomski_indikatori.xlsx')

econ.dropna(thresh=int(econ.shape[1] * .9), axis = 0, inplace = True)
column_names = econ.columns
# Drop unwanted columns
econ.drop(column_names[0], inplace=True, axis=1)

econ.rename(columns={'Unnamed: 2': '2000', 'Unnamed: 3': '2001', 
                   'Unnamed: 4': '2002', 'Unnamed: 5': '2003', 
                   'Unnamed: 6': '2004', 'Unnamed: 7': '2005',
                  'Unnamed: 8': '2006', 'Unnamed: 9': '2007', 
                  'Unnamed: 10': '2008', 'Unnamed: 11': '2009',
                  'Unnamed: 12': '2010', 'Unnamed: 13': '2011',
                  'Unnamed: 14': '2012', 'Unnamed: 15': '2013',
                  'Unnamed: 16': '2014', 'Unnamed: 17': '2015',
                  'Unnamed: 18': '2016', 'Unnamed: 19': '2017',
                  'Unnamed: 20': '2018'}, inplace=True)

econ.drop([4], axis = 0, inplace = True)

econ2 = econ.transpose(copy = True)
new_column_names = econ2.iloc[0,:]
econ2.columns = new_column_names

econ2.reset_index()

Unnamed: 1,index,Area (square km),Population (million) a,"GDP (million HRK, current prices) b","GDP (million EUR, current prices)",GDP per capita (in EUR),"GDP - year-on-year rate of growth (in %, constant prices)",Average CPI year-on-year inflation rate,Current account balance (million EUR) c,Current account balance (as of % GDP),...,"Gross international reserves (in terms of months of imports of goods and services, end of year)",Exchange rate on 31 December (HRK : 1 EUR),Exchange rate on 31 December (HRK : 1 USD),Average exchange rate (HRK : 1 EUR),Average exchange rate (HRK : 1 USD),Consolidated general government net lending (+)/borrowing (-) (million HRK) e,Consolidated general government net lending (+)/borrowing (-) (as % of GDP) e,General government debt (as % of GDP) e,"Unemployment rate (ILO, persons above 15 years of age) f","Employment rate (ILO, persons above 15 years of age) f"
0,Unnamed: 1,Area (square km),Population (million) a,"GDP (million HRK, current prices) b","GDP (million EUR, current prices)",GDP per capita (in EUR),"GDP - year-on-year rate of growth (in %, const...",Average CPI year-on-year inflation rate,Current account balance (million EUR) c,Current account balance (as of % GDP),...,Gross international reserves (in terms of mont...,Exchange rate on 31 December (HRK : 1 EUR),Exchange rate on 31 December (HRK : 1 USD),Average exchange rate (HRK : 1 EUR),Average exchange rate (HRK : 1 USD),Consolidated general government net lending (+...,Consolidated general government net lending (+...,General government debt (as % of GDP) e,"Unemployment rate (ILO, persons above 15 years...","Employment rate (ILO, persons above 15 years o..."
1,2000,56594,4.426,180241,23610.7,5334.56,3.7675,4.6,-516.727,-2.18852,...,4.85331,7.59833,8.15534,7.63385,8.28737,....,....,35.4986,16.05,42.6
2,2001,56594,4.30549,194271,26003.3,6039.56,3.45241,3.8,-758.857,-2.91831,...,5.81721,7.37003,8.35604,7.47101,8.33915,....,....,36.4623,15.8,41.8
3,2002,56594,4.30538,211500,28554.2,6632.21,5.25336,1.7,-2016.88,-7.06332,...,5.20306,7.44229,7.14574,7.40698,7.87249,-7365.19,-3.48235,36.6016,14.8,43.3
4,2003,56594,4.30572,232444,30729.3,7136.85,5.58119,1.8,-1811.73,-5.89579,...,5.52068,7.64691,6.11851,7.56425,6.70445,-10863.8,-4.67371,38.0835,14.25,43.1
5,2004,56594,4.31086,250565,33427.9,7754.34,3.91456,2.1,-1355.35,-4.05455,...,5.0642,7.67123,5.63688,7.49568,6.03122,-13038.5,-5.20365,40.2681,13.8,43.5
6,2005,56594,4.31249,269779,36456.5,8453.7,4.10956,3.3,-1892.06,-5.18991,...,5.37051,7.37563,6.23363,7.40005,5.94996,-10413.5,-3.86001,41.1553,12.7,43.3
7,2006,56594,4.31353,294150,40168.8,9312.29,4.86782,3.2,-2612.7,-6.5043,...,5.60497,7.34508,5.5784,7.32285,5.83917,-9971.92,-3.39008,38.6436,11.2,43.6
8,2007,56594,4.31197,322464,43956.2,10194,5.28365,2.9,-3138.26,-7.13952,...,5.48831,7.32513,4.98546,7.33602,5.36599,-7880.62,-2.44388,37.2272,9.9,47.6
9,2008,56594,4.3098,347750,48143.6,11170.7,2.03646,6.1,-4226.91,-8.7798,...,4.88824,7.32442,5.1555,7.22318,4.93442,-9604.64,-2.76194,38.9616,8.5,48.6
10,2009,56594,4.30285,331367,45148.1,10492.6,-7.29143,2.4,-2299.25,-5.09269,...,7.22059,7.3062,5.0893,7.33955,5.28037,-19844,-5.98853,48.2533,9.2,48.2
11,2010,56594,4.28986,329143,45173.3,10530.3,-1.47292,1.1,-482.271,-1.0676,...,7.45574,7.38517,5.56825,7.28623,5.50002,-20654.6,-6.27526,57.3055,11.6,46.5
12,2011,56594,4.28,333457,44854.4,10480,-0.34019,2.3,-313.309,-0.698502,...,7.33468,7.53042,5.81994,7.4342,5.34351,-26219.8,-7.86303,63.8248,13.7,44.8
13,2012,56594,4.268,330825,44008.2,10311.2,-2.30064,3.4,-50.2742,-0.114238,...,7.43854,7.54562,5.72679,7.51734,5.85086,-17419.6,-5.2655,69.4446,15.9,43.2
14,2013,56594,4.256,331785,43808.4,10293.3,-0.491749,2.2,414.468,0.946094,...,8.3271,7.63764,5.549,7.57355,5.70588,-17516.6,-5.2795,80.3602,17.275,42.075
15,2014,56594,4.238,331570,43456,10253.9,-0.0875134,-0.2,857.903,1.97419,...,8.07501,7.66147,6.30211,7.63001,5.74932,-17033.4,-5.1372,83.9551,17.325,43.3
16,2015,56594,4.204,339616,44630,10616.1,2.40059,-0.5,2018.62,4.52301,...,8.04372,7.63505,6.9918,7.6096,6.86226,-11686.8,-3.44118,83.6845,16.2,44.2
17,2016,56594,4.174,351349,46663.7,11179.6,3.53613,-1.1,1206.51,2.58553,...,7.55627,7.55779,7.16854,7.52938,6.80372,-3274.8,-0.932065,80.1886,13.1171,44.5847
18,2017,56594,4.125,365643,49013.2,11882,2.92136,1.1,1983.59,4.04705,...,7.83157,7.51365,6.26973,7.4601,6.6224,3157.5,0.863547,77.4848,11.2196,45.8246
19,2018,56594,4.089,381799,51496.3,12593.9,2.6,1.5,-,-,...,-,7.41758,6.46919,7.41411,6.27841,-,-,-,-,-

In [24]:
indikatori = econ2.copy()
indikatori = indikatori.iloc[1:, :]
indikatori['GODINE']=range(2000,2019)
drop_col = [0,1,2, 3,7,11, 13, 14, 15, 16, 17, 18, 24]
indikatori.columns[drop_col].values
indikatori.drop(indikatori.columns[drop_col].values, axis = 1, inplace = True)

<h4> Data fusion </h4>

Napravit ćemo left join na training i test skupu.

In [25]:
# TRAINING SET

train_merged = pd.merge(train, indikatori, left_on=['GODINA_OTVARANJA'], right_on = ['GODINE'], how = 'left')
train_merged.rename(columns={'GDP per capita (in EUR)  ': 'ind1-poc', 'GDP - year-on-year rate of growth (in %, constant prices) ': 'ind2-poc', 
                   'Average CPI year-on-year inflation rate ': 'ind3-poc', 'Current account balance (as of % GDP) ': 'ind4-poc', 
                   'Exports of goods and services (as of % GDP) ': 'ind5-poc', 'Imports of goods and services (as of % GDP) ': 'ind6-poc',
                  'External debt (as of % GDP) ': 'ind7-poc', 'Average exchange rate (HRK : 1 EUR) ': 'ind8-poc', 'Average exchange rate (HRK : 1 USD) ': 'ind9-poc',
                  'Consolidated general government net lending (+)/borrowing (-) (as % of GDP) e' : 'ind10-poc', 'General government debt (as % of GDP) e': 'ind11-poc',
                  'Employment rate (ILO, persons above 15 years of age) f': 'ind12-poc'}, inplace=True)

In [26]:
# brisanje indikatora

del train_merged['Consolidated general government net lending (+)/borrowing (-) (million HRK) e']
del train_merged['GODINE']

In [27]:
# TEST DATASET
test_merged = pd.merge(test,indikatori,left_on=['GODINA_OTVARANJA'], right_on=['GODINE'], how='left')
test_merged.rename(columns={'GDP per capita (in EUR)  ': 'ind1-poc', 'GDP - year-on-year rate of growth (in %, constant prices) ': 'ind2-poc', 
                   'Average CPI year-on-year inflation rate ': 'ind3-poc', 'Current account balance (as of % GDP) ': 'ind4-poc', 
                   'Exports of goods and services (as of % GDP) ': 'ind5-poc', 'Imports of goods and services (as of % GDP) ': 'ind6-poc',
                  'External debt (as of % GDP) ': 'ind7-poc', 'Average exchange rate (HRK : 1 EUR) ': 'ind8-poc', 'Average exchange rate (HRK : 1 USD) ': 'ind9-poc',
                  'Consolidated general government net lending (+)/borrowing (-) (as % of GDP) e' : 'ind10-poc', 'General government debt (as % of GDP) e': 'ind11-poc',
                  'Employment rate (ILO, persons above 15 years of age) f': 'ind12-poc'}, inplace=True)

In [28]:
del test_merged['Consolidated general government net lending (+)/borrowing (-) (million HRK) e']
del test_merged['GODINE']

<h3> Priprema za treniranje modela </h3>

In [29]:
X_train = train_merged.drop(['PRIJEVREMENI_RASKID'], axis = 1)
X_test = test_merged.drop(['PRIJEVREMENI_RASKID'], axis = 1)

# s odabirom znacajki
#X_train = df_merged[col_list]
#X_test = test_merged[col_list]

y_train = train_merged['PRIJEVREMENI_RASKID']
y_test = test_merged['PRIJEVREMENI_RASKID'] # to je inace samo nan

X_train['train'] = 1
X_test['train'] = 0

<h4> Enkodiranje </h4>

In [30]:
combined = pd.concat([X_train,X_test])

C:\Users\Jakob\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [31]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()

dumm = pd.get_dummies(combined['VRSTA_KLIJENTA'])
combined = pd.concat([combined,dumm],axis = 1)
combined['VRSTA_KLIJENTA_CODE'] = lb_make.fit_transform(combined['VRSTA_KLIJENTA'])
del combined['VRSTA_KLIJENTA']
combined.drop(dumm.columns, axis = 1, inplace = True)


dumm = pd.get_dummies(combined['VALUTA'])
combined = pd.concat([combined,dumm],axis = 1)
combined['VALUTA_CODE'] = lb_make.fit_transform(combined['VALUTA'])
del combined['VALUTA']
combined.drop(dumm.columns, axis = 1, inplace = True)


dumm = pd.get_dummies(combined['TIP_KAMATE'])
combined = pd.concat([combined,dumm],axis = 1)
combined['TIP_KAMATE_CODE'] = lb_make.fit_transform(combined['TIP_KAMATE'])
del combined['TIP_KAMATE']
combined.drop(dumm.columns, axis = 1, inplace = True)

dumm = pd.get_dummies(combined['PROIZVOD'])
combined = pd.concat([combined,dumm],axis = 1)
combined['PROIZVOD_CODE'] = lb_make.fit_transform(combined['PROIZVOD'])
del combined['PROIZVOD']
combined.drop(dumm.columns, axis = 1, inplace = True)

dumm = pd.get_dummies(combined['GODINA_OTVARANJA'])
combined = pd.concat([combined,dumm],axis = 1)
combined['GODINA_OTVARANJA_CODE'] = lb_make.fit_transform(combined['GODINA_OTVARANJA'])
del combined['GODINA_OTVARANJA']
combined.drop(dumm.columns, axis = 1, inplace = True)

dumm = pd.get_dummies(combined['VRSTA_PROIZVODA'])
combined = pd.concat([combined,dumm],axis = 1)
combined['VRSTA_PROIZVODA_CODE'] = lb_make.fit_transform(combined['VRSTA_PROIZVODA'])
del combined['VRSTA_PROIZVODA']
combined.drop(dumm.columns, axis = 1, inplace = True)

In [32]:
### ZAMJENA S NaN I KONVERZIJA TIPOVA
### OPREZ: ako ti indikatori nisu u tablici, bit ce errora pa treba to pobrisati

combined['ind1-poc'] = combined['ind1-poc'].astype(float)
combined['ind2-poc'] = combined['ind2-poc'].astype(float)
combined['ind3-poc'] = combined['ind3-poc'].astype(float)
combined.loc[combined['ind4-poc'] == '-','ind4-poc'] = np.nan
combined.loc[combined['ind5-poc'] == '-','ind5-poc'] = np.nan
combined.loc[combined['ind6-poc'] == '-','ind6-poc'] = np.nan
combined.loc[combined['ind10-poc'] == '-','ind10-poc'] = np.nan
combined.loc[combined['ind11-poc'] == '-','ind11-poc'] = np.nan
combined.loc[combined['ind12-poc'] == '-','ind12-poc'] = np.nan
combined['ind4-poc'] = combined['ind4-poc'].astype(float)
combined['ind5-poc'] = combined['ind5-poc'].astype(float)
combined['ind6-poc'] = combined['ind6-poc'].astype(float)
#combined['ind10-poc'] = combined['ind10-poc'].astype(float)
combined['ind11-poc'] = combined['ind11-poc'].astype(float)
combined['ind12-poc'] = combined['ind12-poc'].astype(float)
combined.loc[combined['ind10-poc'] == '....','ind10-poc'] = np.nan
combined['ind10-poc'] = combined['ind10-poc'].astype(float)
combined['ind7-poc'] = combined['ind7-poc'].astype(float)
combined['ind8-poc'] = combined['ind8-poc'].astype(float)
combined['ind9-poc'] = combined['ind9-poc'].astype(float)

In [33]:
y_train = lb_make.fit_transform(y_train)
X_train = combined[combined['train']==1]
X_test = combined[combined['train']==0]
X_train.drop(['train'],axis=1,inplace=True)
X_test.drop(['train'],axis=1,inplace=True)

C:\Users\Jakob\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [34]:
raskidi = (y_train == 1).sum()
print(raskidi)

222621

In [35]:
raskidi = (y_train == 0).sum()
print(raskidi)

440879

In [36]:
X_train.shape

(663500, 24)

In [37]:
X_test.shape

(84903, 24)

In [38]:
X_test.shape

(84903, 24)

<h4> Popunjavanje nedostajućih vrijednosti </h4>

In [39]:
from sklearn.preprocessing import Imputer
# Create an imputer object that looks for 'Nan' values, then replaces them with the mean value of the feature by columns (axis=0)
mean_imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)

# Train the imputor on the df dataset
imputed_df = pd.DataFrame(mean_imputer.fit_transform(X_train))
imputed_df.columns = X_train.columns
imputed_df.index = X_train.index

X_train = imputed_df

# Train the imputor on the test dataset
imputed_df1 = pd.DataFrame(mean_imputer.fit_transform(X_test))
imputed_df1.columns = X_test.columns
imputed_df1.index = X_test.index

X_test=imputed_df1

C:\Users\Jakob\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

<h4> Normalizacija </h4>

Min-max scaling, probati eventualno i standard scaler

In [40]:
from sklearn import preprocessing

x = X_train.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
new_X_train = pd.DataFrame(x_scaled)

In [41]:
new_X_train.columns = X_train.columns
new_X_train.index = X_train.index

In [42]:
X_train = new_X_train

In [43]:
x = X_test.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
new_X_test = pd.DataFrame(x_scaled)

In [44]:
new_X_test.columns = X_test.columns
new_X_test.index = X_test.index

In [45]:
X_test = new_X_test

In [51]:
X_train['PRIJEVREMENI_RASKID'] = y_train

In [52]:
X_train.to_hdf('X_train.h5', key = 'X_train')

In [49]:
X_test.to_hdf('X_test.h5', key = 'X_test')