In [1]:
pwd

'C:\\Users\\Petra'

In [2]:
cd C://Users//Petra//Desktop

C:\Users\Petra\Desktop

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [4]:
podaci = pd.read_csv("training_dataset_enc.csv")

In [5]:
del podaci['Unnamed: 0'], podaci['Unnamed: 0.1']
podaci.head()

,DATUM_IZVJESTAVANJA,KLIJENT_ID,OZNAKA_PARTIJE,DATUM_OTVARANJA,PLANIRANI_DATUM_ZATVARANJA,DATUM_ZATVARANJA,UGOVORENI_IZNOS,STANJE_NA_KRAJU_PRETH_KVARTALA,STANJE_NA_KRAJU_KVARTALA,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID
0,31.12.2013,412140,7146814,27.08.2012,30.04.2018,NaN,629155.97,639373.81,641562.01,2,1420,TM0109,L,1.50,A,22,N
1,31.12.2013,772139,5521579,11.06.2010,30.06.2017,NaN,46000.00,28481.94,26887.19,1,1410,FL0801,A,9.70,B,38,N
2,31.12.2013,481985,7443823,23.01.2013,28.02.2018,NaN,44679.50,44908.40,45062.09,2,1550,FD0100,L,3.10,A,37,N
3,31.12.2013,139014,6511639,16.09.2011,30.09.2016,NaN,29959.15,19691.64,18285.89,2,1410,FL0801,A,7.95,B,49,N
4,31.12.2013,952566,6143123,23.05.2011,31.05.2014,NaN,100000.00,24797.93,15685.33,1,1410,FL0801,A,9.70,B,35,N

In [6]:
podaci.describe()

,KLIJENT_ID,OZNAKA_PARTIJE,UGOVORENI_IZNOS,STANJE_NA_KRAJU_PRETH_KVARTALA,STANJE_NA_KRAJU_KVARTALA,VALUTA,VRSTA_KLIJENTA,VISINA_KAMATE,STAROST
count,5.193124e+06,5.193124e+06,5.193124e+06,4.772056e+06,5.193124e+06,5.193124e+06,5.193124e+06,5.141422e+06,5.193124e+06
mean,7.207398e+05,7.152089e+06,2.554007e+05,1.309054e+05,1.181028e+05,1.682643e+00,1.426380e+03,5.562767e+00,4.141305e+01
std,1.160615e+07,8.765659e+06,3.784332e+06,1.950900e+06,1.829336e+06,8.221024e-01,6.029030e+01,3.760118e+00,2.045255e+02
min,1.002000e+03,1.630070e+05,0.000000e+00,-5.981000e+01,-5.981000e+01,1.000000e+00,1.110000e+03,-4.000000e-03,-7.994000e+03
25%,3.708580e+05,4.275223e+06,2.956673e+04,6.897520e+03,4.032975e+02,1.000000e+00,1.410000e+03,2.350000e+00,3.500000e+01
50%,6.930290e+05,6.603912e+06,6.422751e+04,3.339354e+04,2.673879e+04,2.000000e+00,1.410000e+03,6.480000e+00,4.600000e+01
75%,1.033071e+06,9.142953e+06,1.150000e+05,8.280279e+04,7.627030e+04,2.000000e+00,1.410000e+03,8.740000e+00,5.700000e+01
max,9.991411e+09,1.136257e+08,6.055048e+08,6.105662e+08,6.105662e+08,5.000000e+00,1.610000e+03,8.080000e+01,9.080000e+02

In [7]:
podaci[podaci['STAROST'] >= 900].count() # 467

DATUM_IZVJESTAVANJA               467
KLIJENT_ID                        467
OZNAKA_PARTIJE                    467
DATUM_OTVARANJA                   467
PLANIRANI_DATUM_ZATVARANJA        405
DATUM_ZATVARANJA                  144
UGOVORENI_IZNOS                   467
STANJE_NA_KRAJU_PRETH_KVARTALA    417
STANJE_NA_KRAJU_KVARTALA          467
VALUTA                            467
VRSTA_KLIJENTA                    467
PROIZVOD                          467
VRSTA_PROIZVODA                   467
VISINA_KAMATE                     462
TIP_KAMATE                        467
STAROST                           467
PRIJEVREMENI_RASKID               467
dtype: int64

In [8]:
podaci[podaci['STAROST'] < 0].count() # 3367

DATUM_IZVJESTAVANJA               3367
KLIJENT_ID                        3367
OZNAKA_PARTIJE                    3367
DATUM_OTVARANJA                   3367
PLANIRANI_DATUM_ZATVARANJA        3307
DATUM_ZATVARANJA                   373
UGOVORENI_IZNOS                   3367
STANJE_NA_KRAJU_PRETH_KVARTALA    3307
STANJE_NA_KRAJU_KVARTALA          3367
VALUTA                            3367
VRSTA_KLIJENTA                    3367
PROIZVOD                          3367
VRSTA_PROIZVODA                   3367
VISINA_KAMATE                     3363
TIP_KAMATE                        3367
STAROST                           3367
PRIJEVREMENI_RASKID               3367
dtype: int64

In [9]:
podaci[['KLIJENT_ID','OZNAKA_PARTIJE','DATUM_OTVARANJA']].drop_duplicates().count() # 579636, s datumom otvaranja 950239

KLIJENT_ID         950239
OZNAKA_PARTIJE     950239
DATUM_OTVARANJA    950239
dtype: int64

In [10]:
podaci[['KLIJENT_ID']].drop_duplicates().count() # 256958 klijenata

KLIJENT_ID    256858
dtype: int64

In [11]:
podaci[['DATUM_OTVARANJA']].drop_duplicates().count() # 6207 jedinstvenih datuma

DATUM_OTVARANJA    6207
dtype: int64

Ideja je organizirati podatke po datumu otvaranja, uvesti to kao indeks za dohvaćanje podataka. (vedgar pr3)
Prvo ih treba pretvoriti u drugi format jer ih se ovako ne može sortirati uzlazno.
Primijeniti isti format i na ostale datume u podacima.

In [12]:
import datetime
print(podaci['DATUM_OTVARANJA'].head())

0    27.08.2012
1    11.06.2010
2    23.01.2013
3    16.09.2011
4    23.05.2011
Name: DATUM_OTVARANJA, dtype: object

In [13]:
podaci['PLANIRANI_DATUM_ZATVARANJA'] = pd.to_datetime(podaci['PLANIRANI_DATUM_ZATVARANJA'], format = "%d.%m.%Y")
podaci['DATUM_IZVJESTAVANJA'] = pd.to_datetime(podaci['DATUM_IZVJESTAVANJA'], format = "%d.%m.%Y")
podaci['DATUM_OTVARANJA'] = pd.to_datetime(podaci['DATUM_OTVARANJA'], format = "%d.%m.%Y")

In [14]:
podaci.sort_index(inplace=True)

In [15]:
podaci.head()

,DATUM_IZVJESTAVANJA,KLIJENT_ID,OZNAKA_PARTIJE,DATUM_OTVARANJA,PLANIRANI_DATUM_ZATVARANJA,DATUM_ZATVARANJA,UGOVORENI_IZNOS,STANJE_NA_KRAJU_PRETH_KVARTALA,STANJE_NA_KRAJU_KVARTALA,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID
0,2013-12-31,412140,7146814,2012-08-27,2018-04-30,NaN,629155.97,639373.81,641562.01,2,1420,TM0109,L,1.50,A,22,N
1,2013-12-31,772139,5521579,2010-06-11,2017-06-30,NaN,46000.00,28481.94,26887.19,1,1410,FL0801,A,9.70,B,38,N
2,2013-12-31,481985,7443823,2013-01-23,2018-02-28,NaN,44679.50,44908.40,45062.09,2,1550,FD0100,L,3.10,A,37,N
3,2013-12-31,139014,6511639,2011-09-16,2016-09-30,NaN,29959.15,19691.64,18285.89,2,1410,FL0801,A,7.95,B,49,N
4,2013-12-31,952566,6143123,2011-05-23,2014-05-31,NaN,100000.00,24797.93,15685.33,1,1410,FL0801,A,9.70,B,35,N

In [16]:
podaci[['KLIJENT_ID','OZNAKA_PARTIJE','DATUM_IZVJESTAVANJA']].drop_duplicates().count()  # JEDINSTVENI KLJUC

KLIJENT_ID             5193124
OZNAKA_PARTIJE         5193124
DATUM_IZVJESTAVANJA    5193124
dtype: int64

In [17]:
dat_zat = podaci['DATUM_ZATVARANJA'] # ako zatriba

In [18]:
del podaci['DATUM_ZATVARANJA']

In [19]:
podaci.head()

,DATUM_IZVJESTAVANJA,KLIJENT_ID,OZNAKA_PARTIJE,DATUM_OTVARANJA,PLANIRANI_DATUM_ZATVARANJA,UGOVORENI_IZNOS,STANJE_NA_KRAJU_PRETH_KVARTALA,STANJE_NA_KRAJU_KVARTALA,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID
0,2013-12-31,412140,7146814,2012-08-27,2018-04-30,629155.97,639373.81,641562.01,2,1420,TM0109,L,1.50,A,22,N
1,2013-12-31,772139,5521579,2010-06-11,2017-06-30,46000.00,28481.94,26887.19,1,1410,FL0801,A,9.70,B,38,N
2,2013-12-31,481985,7443823,2013-01-23,2018-02-28,44679.50,44908.40,45062.09,2,1550,FD0100,L,3.10,A,37,N
3,2013-12-31,139014,6511639,2011-09-16,2016-09-30,29959.15,19691.64,18285.89,2,1410,FL0801,A,7.95,B,49,N
4,2013-12-31,952566,6143123,2011-05-23,2014-05-31,100000.00,24797.93,15685.33,1,1410,FL0801,A,9.70,B,35,N

In [20]:
podaci.isnull().sum()

DATUM_IZVJESTAVANJA                    0
KLIJENT_ID                             0
OZNAKA_PARTIJE                         0
DATUM_OTVARANJA                        0
PLANIRANI_DATUM_ZATVARANJA        421129
UGOVORENI_IZNOS                        0
STANJE_NA_KRAJU_PRETH_KVARTALA    421068
STANJE_NA_KRAJU_KVARTALA               0
VALUTA                                 0
VRSTA_KLIJENTA                         0
PROIZVOD                               0
VRSTA_PROIZVODA                        0
VISINA_KAMATE                      51702
TIP_KAMATE                             0
STAROST                                0
PRIJEVREMENI_RASKID                    0
dtype: int64

In [21]:
podaci['STAROST'].values[podaci['STAROST'].values >= 900] = -1
podaci['STAROST'].values[podaci['STAROST'].values < 0] = -1

In [22]:
podaci[podaci['UGOVORENI_IZNOS']==0.0].count() # 1158

DATUM_IZVJESTAVANJA               1158
KLIJENT_ID                        1158
OZNAKA_PARTIJE                    1158
DATUM_OTVARANJA                   1158
PLANIRANI_DATUM_ZATVARANJA         948
UGOVORENI_IZNOS                   1158
STANJE_NA_KRAJU_PRETH_KVARTALA     963
STANJE_NA_KRAJU_KVARTALA          1158
VALUTA                            1158
VRSTA_KLIJENTA                    1158
PROIZVOD                          1158
VRSTA_PROIZVODA                   1158
VISINA_KAMATE                      943
TIP_KAMATE                        1158
STAROST                           1158
PRIJEVREMENI_RASKID               1158
dtype: int64

In [23]:
podaci['GODINE']=podaci['DATUM_IZVJESTAVANJA'].dt.year

In [24]:
podaci.set_index('GODINE', inplace=True)
podaci.sort_index(inplace=True)
podaci.head()

,DATUM_IZVJESTAVANJA,KLIJENT_ID,OZNAKA_PARTIJE,DATUM_OTVARANJA,PLANIRANI_DATUM_ZATVARANJA,UGOVORENI_IZNOS,STANJE_NA_KRAJU_PRETH_KVARTALA,STANJE_NA_KRAJU_KVARTALA,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID
GODINE,,,,,,,,,,,,,,,,
2011,2011-06-30,206116,5695263,2010-10-25,2011-04-26,40375.26,40605.44,40556.70,2,1410,TM0109,L,3.00,A,68,N
2011,2011-09-30,782396,6144200,2011-05-27,2016-05-31,40143.84,39283.00,38254.35,2,1410,FL0801,A,8.40,C,38,N
2011,2011-09-30,1047539,531897,2007-06-29,2011-07-06,5900.61,0.00,0.00,1,1410,TM0109,L,3.30,C,29,Y
2011,2011-09-30,1133342,3685048,2008-06-10,2011-06-21,7387.43,0.00,0.00,1,1410,FL1100,A,10.10,C,42,N
2011,2011-09-30,470005,1382695,2008-02-21,2015-02-28,54601.83,33701.51,0.00,2,1410,FL0801,A,10.25,C,48,Y

In [75]:
podaci2 = podaci[['UGOVORENI_IZNOS','STANJE_NA_KRAJU_PRETH_KVARTALA','STANJE_NA_KRAJU_KVARTALA','VRSTA_PROIZVODA']]
podaci3 = podaci[['UGOVORENI_IZNOS','STANJE_NA_KRAJU_PRETH_KVARTALA','STANJE_NA_KRAJU_KVARTALA','VRSTA_PROIZVODA', 'PRIJEVREMENI_RASKID']]

In [71]:
podaci2[podaci2['VRSTA_PROIZVODA'] == 'A']#.plot()
# A = kredit, L = stednja

podaci3 = podaci3[podaci3['VRSTA_PROIZVODA'] == 'L']

podaci3[podaci3['PRIJEVREMENI_RASKID'] == 'Y'].count() # 147836

proba = podaci3[podaci3['PRIJEVREMENI_RASKID'] == 'Y']
proba[proba['STANJE_NA_KRAJU_KVARTALA'] == 0.0].count()  # 147836

# svi štediše koji su prijevremeno raskinuli, imaju stanje na kraju računa 0

UGOVORENI_IZNOS                   147836
STANJE_NA_KRAJU_PRETH_KVARTALA    147836
STANJE_NA_KRAJU_KVARTALA          147836
VRSTA_PROIZVODA                   147836
PRIJEVREMENI_RASKID               147836
dtype: int64

In [80]:

podaci4 = podaci3[podaci3['VRSTA_PROIZVODA'] == 'A']

podaci4[podaci4['PRIJEVREMENI_RASKID'] == 'Y'].count() # 168469

proba = podaci4[podaci4['PRIJEVREMENI_RASKID'] == 'Y']
proba[proba['STANJE_NA_KRAJU_KVARTALA'] == 0.0].count()  # 168130

# ljudi koji su uzeli kredit i prijevremeno raskinuli ugovor, nisu svi u potpunosti otplatili??

UGOVORENI_IZNOS                   168130
STANJE_NA_KRAJU_PRETH_KVARTALA    168130
STANJE_NA_KRAJU_KVARTALA          168130
VRSTA_PROIZVODA                   168130
PRIJEVREMENI_RASKID               168130
dtype: int64

In [81]:
prekidi = podaci.loc[podaci['PRIJEVREMENI_RASKID']=='Y']
prekidi_group = prekidi.groupby(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA'])
len1 = len(prekidi_group);
print('Broj prijevremenih raskida: ', len1)

sve_grupe = podaci.groupby(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA'])
len2 = len(sve_grupe);
print('Ukupan broj ugovora: ', len2)
print('Postotak prijevremenih raskida u datasetu: ', len1/len2 )

Broj prijevremenih raskida:  160155
Ukupan broj ugovora:  950239
Postotak prijevremenih raskida u datasetu:  0.16854180895543122

In [87]:
#prekidi_group.head()

In [25]:
econ = pd.read_excel('ekonom.xlsx')
# ovo izbacuje retke s puno nan-ova (one prazne u file-u )
econ.dropna(thresh=int(econ.shape[1] * .9), axis = 0, inplace = True)
column_names = econ.columns
# Drop unwanted columns
econ.drop(column_names[0], inplace=True, axis=1)
column_names = econ.columns
print(column_names)
econ.rename(columns={'Unnamed: 2': '2000', 'Unnamed: 3': '2001', 
                   'Unnamed: 4': '2002', 'Unnamed: 5': '2003', 
                   'Unnamed: 6': '2004', 'Unnamed: 7': '2005',
                  'Unnamed: 8': '2006', 'Unnamed: 9': '2007', 
                  'Unnamed: 10': '2008', 'Unnamed: 11': '2009',
                  'Unnamed: 12': '2010', 'Unnamed: 13': '2011',
                  'Unnamed: 14': '2012', 'Unnamed: 15': '2013',
                  'Unnamed: 16': '2014', 'Unnamed: 17': '2015',
                  'Unnamed: 18': '2016', 'Unnamed: 19': '2017',
                  'Unnamed: 20': '2018'}, inplace=True)

econ.drop([3], axis = 0, inplace = True)

Index(['General information on Croatia', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [26]:
econ.head()

,General information on Croatia,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,Area (square km),56594,56594,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594.000000,56594
5,Population (million) a,4.426,4.30549,4.305384,4.305725,4.310861,4.312487,4.313530,4.311967,4.309796,4.302847,4.289857,4.280000,4.268000,4.256000,4.238000,4.204000,4.174000,4.125000,4.089
6,"GDP (million HRK, current prices) b",180241,194271,211500.384280,232444.050150,250564.762188,269779.451979,294150.258439,322463.846521,347749.878891,331367.071951,329143.142619,333456.571836,330824.955608,331784.893258,331569.648134,339616.204419,351349.058619,365643.149141,381799
7,"GDP (million EUR, current prices)",23610.7,26003.3,28554.214875,30729.300540,33427.889423,36456.451152,40168.827520,43956.244732,48143.611980,45148.120983,45173.312209,44854.374703,44008.247014,43808.383238,43455.968513,44629.962125,46663.725118,49013.169950,51496.3
8,GDP per capita (in EUR),5334.56,6039.56,6632.210942,7136.846998,7754.341748,8453.695316,9312.286577,10194.012322,11170.740327,10492.615931,10530.260615,10479.994090,10311.210641,10293.323129,10253.885916,10616.070915,11179.617901,11881.980594,12593.9

In [27]:
econ=econ.T

In [28]:
new_header = econ.iloc[0] #grab the first row for the header
econ = econ[1:] #take the data less the header row
econ.columns = new_header #set the header row as the df header

In [29]:
econ['GODINE'] = range(2000,2019)
econ.head()

General information on Croatia,Area (square km),Population (million) a,"GDP (million HRK, current prices) b","GDP (million EUR, current prices)",GDP per capita (in EUR),"GDP - year-on-year rate of growth (in %, constant prices)",Average CPI year-on-year inflation rate,Current account balance (million EUR) c,Current account balance (as of % GDP),Exports of goods and services (as of % GDP),...,Exchange rate on 31 December (HRK : 1 EUR),Exchange rate on 31 December (HRK : 1 USD),Average exchange rate (HRK : 1 EUR),Average exchange rate (HRK : 1 USD),Consolidated general government net lending (+)/borrowing (-) (million HRK) e,Consolidated general government net lending (+)/borrowing (-) (as % of GDP) e,General government debt (as % of GDP) e,"Unemployment rate (ILO, persons above 15 years of age) f","Employment rate (ILO, persons above 15 years of age) f",GODINE
2000,56594,4.426,180241,23610.7,5334.56,3.7675,4.6,-516.727,-2.18852,35.215,...,7.59833,8.15534,7.63385,8.28737,....,....,35.4986,16.05,42.6,2000
2001,56594,4.30549,194271,26003.3,6039.56,3.45241,3.8,-758.857,-2.91831,37.2483,...,7.37003,8.35604,7.47101,8.33915,....,....,36.4623,15.8,41.8,2001
2002,56594,4.30538,211500,28554.2,6632.21,5.25336,1.7,-2016.88,-7.06332,36.24,...,7.44229,7.14574,7.40698,7.87249,-7365.19,-3.48235,36.6016,14.8,43.3,2002
2003,56594,4.30572,232444,30729.3,7136.85,5.58119,1.8,-1811.73,-5.89579,39.7021,...,7.64691,6.11851,7.56425,6.70445,-10863.8,-4.67371,38.0835,14.25,43.1,2003
2004,56594,4.31086,250565,33427.9,7754.34,3.91456,2.1,-1355.35,-4.05455,39.7148,...,7.67123,5.63688,7.49568,6.03122,-13038.5,-5.20365,40.2681,13.8,43.5,2004

In [30]:
econ.columns

Index(['Area (square km)', 'Population (million) a',
       'GDP (million HRK, current prices) b',
       'GDP (million EUR, current prices) ', 'GDP per capita (in EUR)  ',
       'GDP - year-on-year rate of growth (in %, constant prices) ',
       'Average CPI year-on-year inflation rate ',
       'Current account balance (million EUR) c',
       'Current account balance (as of % GDP) ',
       'Exports of goods and services (as of % GDP) ',
       'Imports of goods and services (as of % GDP) ',
       'External debt (million EUR, end of year) c',
       'External debt (as of % GDP) ',
       'External debt (as of % exports of goods and services) ',
       'External debt service (as % of exports of goods and services) d',
       'Gross international reserves (million EUR, end of year)',
       'Gross international reserves (in terms of months of imports of goods and services, end of year)',
       'Exchange rate on 31 December (HRK : 1 EUR)',
       'Exchange rate on 31 December  (HRK : 1 USD)',
       'Average exchange rate (HRK : 1 EUR) ',
       'Average exchange rate (HRK : 1 USD) ',
       'Consolidated general government net lending (+)/borrowing (-) (million HRK) e',
       'Consolidated general government net lending (+)/borrowing (-) (as % of GDP) e',
       'General government debt (as % of GDP) e',
       'Unemployment rate (ILO, persons above 15 years of age) f',
       'Employment rate (ILO, persons above 15 years of age) f', 'GODINE'],
      dtype='object', name='General information on Croatia')

Potrebno je izbaciti neke stupce iz econ tablice, npr. povrsina ili vrijednosti u drugim valutama, također odlučiti hoćemo li koristiti nezaposlenost ili zaposlenost, ne treba oboje (možda bolje zaposlenost).

In [33]:
del econ['Area (square km)'], econ['Population (million) a'], econ['GDP (million EUR, current prices) ']
del econ['GDP per capita (in EUR)  '], econ['Current account balance (million EUR) c']
del econ['Exports of goods and services (as of % GDP) '], econ['Imports of goods and services (as of % GDP) ']
del econ['External debt (million EUR, end of year) c'], econ['External debt (as of % GDP) ']
del econ['External debt (as of % exports of goods and services) '], econ['External debt service (as % of exports of goods and services) d']
del econ['Gross international reserves (million EUR, end of year)']
del econ['Gross international reserves (in terms of months of imports of goods and services, end of year)']
del econ['Exchange rate on 31 December (HRK : 1 EUR)'], econ['Exchange rate on 31 December  (HRK : 1 USD)']
del econ['Average exchange rate (HRK : 1 EUR) '], econ['Average exchange rate (HRK : 1 USD) ']
del econ['Consolidated general government net lending (+)/borrowing (-) (million HRK) e']
del econ['Consolidated general government net lending (+)/borrowing (-) (as % of GDP) e']
del econ['Unemployment rate (ILO, persons above 15 years of age) f']
#export, import izbacit, reserves, rate(7.4), consolidated, external debt, stopa nezaposlenosti

KeyError: 'Area (square km)'

In [34]:
econ.columns

Index(['GDP (million HRK, current prices) b',
       'GDP - year-on-year rate of growth (in %, constant prices) ',
       'Average CPI year-on-year inflation rate ',
       'Current account balance (as of % GDP) ',
       'General government debt (as % of GDP) e',
       'Employment rate (ILO, persons above 15 years of age) f', 'GODINE'],
      dtype='object', name='General information on Croatia')

In [35]:
econ.set_index('GODINE', inplace=True)
econ.sort_index(inplace=True)
econ.head()

General information on Croatia,"GDP (million HRK, current prices) b","GDP - year-on-year rate of growth (in %, constant prices)",Average CPI year-on-year inflation rate,Current account balance (as of % GDP),General government debt (as % of GDP) e,"Employment rate (ILO, persons above 15 years of age) f"
GODINE,,,,,,
2000,180241,3.7675,4.6,-2.18852,35.4986,42.6
2001,194271,3.45241,3.8,-2.91831,36.4623,41.8
2002,211500,5.25336,1.7,-7.06332,36.6016,43.3
2003,232444,5.58119,1.8,-5.89579,38.0835,43.1
2004,250565,3.91456,2.1,-4.05455,40.2681,43.5

In [36]:
econ.drop([2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010], axis=0,inplace=True)

In [37]:
popis= [5440.6, 5477.9, 5514.8, 5533.5, 5594.3, 5685.1, 5984.4, 6241.1]
econ['Prosjek_placaN'] = popis
econ.head()

General information on Croatia,"GDP (million HRK, current prices) b","GDP - year-on-year rate of growth (in %, constant prices)",Average CPI year-on-year inflation rate,Current account balance (as of % GDP),General government debt (as % of GDP) e,"Employment rate (ILO, persons above 15 years of age) f",Prosjek_placaN
GODINE,,,,,,,
2011,333457,-0.34019,2.3,-0.698502,63.8248,44.8,5440.6
2012,330825,-2.30064,3.4,-0.114238,69.4446,43.2,5477.9
2013,331785,-0.491749,2.2,0.946094,80.3602,42.075,5514.8
2014,331570,-0.0875134,-0.2,1.97419,83.9551,43.3,5533.5
2015,339616,2.40059,-0.5,4.52301,83.6845,44.2,5594.3

In [39]:
podaci.head().describe()

,KLIJENT_ID,OZNAKA_PARTIJE,UGOVORENI_IZNOS,STANJE_NA_KRAJU_PRETH_KVARTALA,STANJE_NA_KRAJU_KVARTALA,VALUTA,VRSTA_KLIJENTA,VISINA_KAMATE,STAROST
count,5.000000e+00,5.000000e+00,5.0000,5.000000,5.000000,5.000000,5.0,5.000000,5.00000
mean,7.278796e+05,3.487821e+06,29681.7940,22717.990000,15762.210000,1.600000,1410.0,7.010000,45.00000
std,3.899649e+05,2.506845e+06,21836.8736,20899.834178,21598.639358,0.547723,0.0,3.599375,14.59452
min,2.061160e+05,5.318970e+05,5900.6100,0.000000,0.000000,1.000000,1410.0,3.000000,29.00000
25%,4.700050e+05,1.382695e+06,7387.4300,0.000000,0.000000,1.000000,1410.0,3.300000,38.00000
50%,7.823960e+05,3.685048e+06,40143.8400,33701.510000,0.000000,2.000000,1410.0,8.400000,42.00000
75%,1.047539e+06,5.695263e+06,40375.2600,39283.000000,38254.350000,2.000000,1410.0,10.100000,48.00000
max,1.133342e+06,6.144200e+06,54601.8300,40605.440000,40556.700000,2.000000,1410.0,10.250000,68.00000